#!/bin/sh
set -e

CONSUL_URL=${CONSUL_URL:-consul:8500}

if [ -d /etc/consul-templates ]; then
    for TEMPLATE in `ls /etc/consul-templates/*.conf`; do
      CONF="/etc/nginx/conf.d/`basename $TEMPLATE`"
      exec consul-template \
           -consul=${CONSUL_URL} \
           -template "${TEMPLATE}:${CONF}:nginx -s reload"
      echo "Reloading Nginx with configuration : $CONF"
    done
fi