#!/bin/sh
set -x

for t in `ls /etc/consul-templates`; do
  exec consul-template \
       -consul=consul:8500 \
       -template "/etc/consul-templates/$t:/etc/nginx/conf.d/$t:nginx -s reload"
done