#!/bin/sh

NGINX_CONF=${$NGINX_CONF:-/etc/nginx/nginx.conf}

echo "Running Nginx with configuration : $NGINX_CONF"
nginx -c $NGINX_CONF -t && exec nginx -c $NGINX_CONF -g "daemon off;"
