#!/bin/sh

TEMPLATE=${NGINX_TEMPLATE:-/etc/consul-templates/nginx.conf}

if [ -f $TEMPLATE ]; then
  exec consul-template \
       -consul=consul:8500 \
       -template "$TEMPLATE:/etc/nginx/conf.d/app.conf:sv hup nginx"
fi